
__pycache__/
*.pyc
*.py[cod]
*$py.class


db.sqlite3
*.sqlite3
*.sqlite
db.local
*.log
logs/
log/
run/
var/
*.pid
celerybeat-schedule
celerybeat.pid
tmp/
temp/
*.tmp
*.bak
*.swp
*.swo
.env
.env.*
.envrc
.python-version
venv/
.venv/
/staticfiles/
staticfiles/
/static_root/
/collected_static/
media/
mediafiles/
whitenoise*/  # cache de WhiteNoise (si aplica)
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
wheelhouse/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/
pytestdebug.log
coverage.xml
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/
.dmypy.json
.vscode/
.idea/
*.iml
.ropeproject/
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnp.js
.docker/
docker-compose.override.yml
/backups/
/exports/
/tmp/
